In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv("kc_house_data.csv")

# Drop columns to ignore
df = df.drop(columns=["id", "date", "zipcode"])

# Compute statistics for each feature
stats = df.agg(["mean", "min", "max", "var"]).T

# Display full statistics table
stats

                        mean         min           max           var
price          540088.141767  75000.0000  7.700000e+06  1.347824e+11
bedrooms            3.370842      0.0000  3.300000e+01  8.650150e-01
bathrooms           2.114757      0.0000  8.000000e+00  5.931513e-01
sqft_living      2079.899736    290.0000  1.354000e+04  8.435337e+05
sqft_lot        15106.967566    520.0000  1.651359e+06  1.715659e+09
floors              1.494309      1.0000  3.500000e+00  2.915880e-01
waterfront          0.007542      0.0000  1.000000e+00  7.485226e-03
view                0.234303      0.0000  4.000000e+00  5.872426e-01
condition           3.409430      1.0000  5.000000e+00  4.234665e-01
grade               7.656873      1.0000  1.300000e+01  1.381703e+00
sqft_above       1788.390691    290.0000  9.410000e+03  6.857347e+05
sqft_basement     291.509045      0.0000  4.820000e+03  1.958727e+05
yr_built         1971.005136   1900.0000  2.015000e+03  8.627973e+02
yr_renovated       84.402258      0.0000  2.015000e+03  1.613462e+05
lat                47.560053     47.1559  4.777760e+01  1.919990e-02
long             -122.213896   -122.5190 -1.213150e+02  1.983262e-02
sqft_living15    1986.552492    399.0000  6.210000e+03  4.697612e+05
sqft_lot15      12768.455652    651.0000  8.712000e+05  7.455182e+08

In [3]:
# Lowest and highest mean
lowest_mean_feature = stats["mean"].idxmin()
lowest_mean_value = stats.loc[lowest_mean_feature, "mean"]

highest_mean_feature = stats["mean"].idxmax()
highest_mean_value = stats.loc[highest_mean_feature, "mean"]

# Lowest and highest variance
lowest_var_feature = stats["var"].idxmin()
lowest_var_value = stats.loc[lowest_var_feature, "var"]

highest_var_feature = stats["var"].idxmax()
highest_var_value = stats.loc[highest_var_feature, "var"]

print("Lowest mean:", lowest_mean_feature, lowest_mean_value)
print("Highest mean:", highest_mean_feature, highest_mean_value)
print("Lowest variance:", lowest_var_feature, lowest_var_value)
print("Highest variance:", highest_var_feature, highest_var_value)

Lowest mean: long -122.21389640494147
Highest mean: price 540088.1417665294
Lowest variance: waterfront 0.007485225502686407
Highest variance: price 134782378397.24687